.home {
  .page-section {
    box-sizing: border-box;
    min-height: 95vh;
    padding: $verticalSpace*2 $gutter*2;
  }
}

.page-section_list {
  ul, dl {
    margin:0px; padding:0px;
    list-style: none;
  }

  li, dt {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.home-about {
  margin-top: 5vh; height: 95vh;
  background-color: $brand3;
  @include gradient($brand3, lighten($brand3,5%), 180deg);
  @include fancyBorder($white, $brand3);
  color:$white;

  .page-section_header {
    h1 {
      margin-top: $verticalSpace/2;
      letter-spacing: 0em; line-height:1;
      a {font-weight:bold;}
    }
  }

  .page-section_copy {
    p {font-size:1.2em;}
  }
}

.home-cv {
  overflow: auto;
  background-color: $brand2;
  @include gradient($brand2, lighten($brand2,5%), 180deg);
  @include fancyBorder($brand6, $brand2);
  color: $brand6;

  a {color:$brand6;}

  .page-section_list {
    width: 47%; float: left;
    margin-right:3%;
    &:nth-of-type(2n) {
      margin-right:0px;
      margin-left:3%;
    }
  }

}

.home-talks {
  overflow: auto;
  background-color: $brand1;
  @include gradient($brand1, lighten($brand1,5%), 180deg);
  @include fancyBorder($brand5, $brand1);
  color: $brand5;

  a {color: $brand5;}

  .page-section_list {
    width: 47%; float: left;
    margin-right:3%;
    &:nth-of-type(2n) {
      margin-right:0px;
      margin-left:3%;
    }
  }

}

.home-contact {
  overflow: auto;
  background-color: $brand6;
  @include gradient($brand6, lighten($brand6,5%), 180deg);
  @include fancyBorder($brand2, $brand6);
  color: $brand2;
}




