//CONTENTS

// 1. html & body
// 2. Site structure
//     2.1 Main header, aside and footer
//     2.2 Main content container


// 1. HTML & BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
html {}
body {
  overflow: auto; padding:6px;
  background-color: $black;
  @include gradient($black, lighten($black, 10%), 0deg);
  font-family: $font;
  font-size: 100%;
  color: $white;
  @include at-least($screenXlarge) { font-size: 112%; }
  @include until($screenMedium) { font-size: 90%; }
  @include until($screenSmall) { font-size: 84%; }
}
// remember to define focus styles!
:focus { outline: 0; }

// 2. SITE STRUCTURE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// 2.1 Main header, aside & footer
// Default layout is full width add .layout-sidebar for large screens to have side nav
.page {
  display: flex; flex-direction: column;
  margin: 0px; padding: 0px;
  box-sizing: border-box;
  @include fancyBorder($slate);
}

.page > header,
.page > footer {
  padding: $verticalSpace $gutter $verticalSpace/2;
  box-sizing:border-box;
  flex: none;
}

.page > header {
  overflow: hidden;
  & > section {
    float:left;
    h1 {margin-bottom:0px;}
    p {margin:0px;}
  }
  & > nav {
    float:right;
    display:flex; justify-content:flex-end;
    width: 36%;
    a {
      padding: $verticalSpace/3 $gutter/2;
      border:2px solid $white;
      background-color: $white;
      box-shadow: inset 0px 0px 0px 2px $blue;
      color:$blue;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
.portfolio .page > header {
  & > nav a {
    box-shadow: inset 0px 0px 0px 2px $turq;
    color:$turq;
  }
}
.contact .page > header {
  & > nav a {
    box-shadow: inset 0px 0px 0px 2px $slate;
    color:$slate;
  }
}
.page > header {
  & > nav a:hover, & > nav a.nav-active {
    background-color:transparent;
    box-shadow:none;
    color: $white;
  }
}


.page > footer {
  width: 100%;
  padding: $verticalSpace $gutter;
  display:flex; justify-content:space-between;
  @include until($screenMedium) {
    display: block;
    text-align: center;
  }
  p, ul {
      width:50%;
      @include until($screenMedium) {
        width:100%;
      }
      // display: inline-block;
      // text-align: right;
  }
  // p {padding-right: $verticalSpace;}
  ul {
    @include clearListStyles;
    display: flex; justify-content:flex-end;
    @include until($screenMedium) {
      justify-content: center;
      flex-wrap:wrap;
    }
    li {
      a {
        border:none;
        svg {
          width:auto; height:48px;
          padding:$verticalSpace/2 $gutter/2;
          box-sizing:border-box;
          background-color: $black;
          border-radius: 2px;
          @include smallFancyBorder($black);
          path {fill:$white;}
        }
      }
    }
  }
}
.portfolio .page > footer {
  ul li a svg {
    box-shadow: inset 0px 0px 0px 2px $turq;
    path {fill:$turq;}
  }
}
.contact .page > footer {
  ul li a svg {
    box-shadow: inset 0px 0px 0px 2px $slate;
    path {fill:$slate;}
  }
}
.page > footer {
  ul li {
    &:nth-of-type(1) {
      a:hover svg {background-color: $turq;}}
    &:nth-of-type(2) {
      a:hover svg {background-color: $blue;}}
    &:nth-of-type(3) {
      a:hover svg {background-color: $purple;}}
    &:nth-of-type(4) {
      a:hover svg {background-color: $red;}}
    &:nth-of-type(5) {
      a:hover svg {background-color: $orange;}}
    &:nth-of-type(6) {
      a:hover svg {background-color: $green;}}
    
  }
}

main {
  position: relative;
  flex: 1 0 auto; box-sizing:border-box;
  margin: 0px $gutter;
  padding: $verticalSpace 0px;
}
main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: $verticalSpace;
  height: 0px;
  visibility: hidden;
}
