// Contents
// 0) page common
// 1) home
// 2) about
// 3) portfolio
// 4) contact

// div[class^="page-"] {
//   margin:0px; padding:$verticalSpace $gutter;
//   border: 2px solid $white; border-width: 2px 0px;
//   min-height: 86vh;
// }
main {
  border:1px solid $white;
  border-width: 1px 0px;
}

// home
.about {
  .about-intro {
    padding-bottom:$verticalSpace*2;
    p {
      width:70%;
      margin-left: auto; margin-right: auto;
      text-align: justify;
    }
  } 
}

// @supports {
//   .about-cv {
//     display:grid; justify-content:space-between;
//   }
// }

.about-cv {
  overflow: auto;
  display:grid; justify-content:space-between;
  grid-template-columns: 49.5% 49.5%;
  section {
    // width: 50%;
    padding:$verticalSpace $gutter;
    margin-bottom:2%;
    // float: left;
    box-sizing: border-box;



    border:1px solid $white;
    
    text-align:center;

    &:nth-of-type(6n-5) {
      background-color: $blue;
      @include gradient($blue, lighten($blue,6%), 0deg);
      @include fancyBorder($blue);
    }
    &:nth-of-type(6n-4) {
      background-color: $purple;
      @include gradient($purple, lighten($purple,6%), 0deg);
      @include fancyBorder($purple);
    }
    &:nth-of-type(6n-3) {
      background-color: $red;
      @include fancyBorder($red);
    }
    &:nth-of-type(6n-2) {
      background-color: $orange;
      @include fancyBorder($orange);
    }
    &:nth-of-type(6n-1) {
      background-color: $green;
      @include fancyBorder($green);
    }
    &:nth-of-type(6n) {
      background-color: $turq;
      @include fancyBorder($turq);
    }


    h2 {
      &::after {@include partBorder(25%, 25%);}
    }
    ul, dl {
      margin:0px; padding:0px;
      // text-align: center;
      list-style: none;
    }

    li, dt {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

// portfolio
.portfolio {}

// contact
.contact {}