<nav class="main-nav page-section_nav">
  <a href="/" class="nav-active nav-link--image">RJ Home</a>
  <a href="/portfolio/">Portfolio</a>
  <a href="/talks/">Talks Et Al</a>
  <a href="/cv/">CV</a>
  <a href="http://blog.rumyra.com" rel="external">Blog</a>
  <a href="http://artbox.rumyra.com" rel="external">Artbox</a>
</nav>