<li class="work-item featured">
  <section class="tags">
    {{#each tags}}
      <span>{{.}}</span>
    {{/each}}
  </section>
  <article>
    <picture>
      <img class="img-main" src="" />
    </picture>
    <h3>{{title}}</h3>
    <p>Work item description here... blah blah blah</p>
    <section class="thumbnails">
      <img src="" />
      <img src="" />
      <img src="" />
    </section>
  </article>
  <section class="quote-slider">
    <blockquote cite="whoever"><q>Ruth is awesome, the work was great</q></blockquote>
  </section>

  <section class="date">
    <datetime>22nd May 2017<datetime>
  </section>
  <section class="map">
  </section>
  <section class="media">
    <video src=""></video>
  </section>
  <nav>
    <a href="">Github</a>
    <a href="">External Link</a>
  </nav>
</li>