<li class="projectType" data-portitem="uniqueIDhere"><!-- click to open & close or animation for more info-->
  <picture>
    <!-- hero image -->
    <img src="media/work/webvj.png" height="100" width="100" />
  </picture>
  <h4>title some fuhdg gjod fgjog fdj ffdsf</h4>
  <p><time datetime="2004-05-23">May '04</time></p>
</li>