<li class="projectType" data-portitem="uniqueIDhere"><!-- click to open & close or animation for more info-->
  <picture>
    <!-- hero image -->
    <img src="media/work/webvj.png" height="100" width="100" />
  </picture>
  <h4>title some fuhdg gjod fgjog fdj ffdsf</h4>
  <p><time datetime="2004-05-23">May '04</time></p>
</li>

<li class="work-item">
  <div class="col">
    <section class="tags">
      <span>talk</span>
      <span>app</span>
    </section>
    <article>
      <picture>
        <img class="img-main" src="" />
      </picture>
      <h3>Work Item Title</h3>
      <p>Work item description here... blah blah blah</p>
      <section class="thumbnails">
        <img src="" />
        <img src="" />
        <img src="" />
      </section>
    </article>
    <section class="quote-slider">
      <blockquote cite="whoever"><q>Ruth is awesome, the work was great</q></blockquote>
    </section>
  </div>

  <div class="col">
    <section class="date">
      <datetime>22nd May 2017<datetime>
    </section>
    <section class="map">
    </section>
    <section class="media">
      <video src=""></video>
    </section>
    <nav>
      <a href="">Github</a>
      <a href="">External Link</a>
    </nav>
</li>