<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico" />

  <!--meta content-->

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2019">
  <title>{{ title }}</title>
  <meta name="description" content="{{ desc }}">

  <link rel="stylesheet" type="text/css" href="https://rumyra.github.io/rumyra.css/rumyra.css">

  <style></style>
</head>

<body><div class="wrapper page--birth">

  <header>
    <h2>You are invited to...</h2>
    <h1 class="sub--highlight1">Ruth's 40th Birthday Party!!</h1>    
  </header>

  <div class="sub--callout">
    <p class="text--lede">TLDR 2pm start, bring your own alcohol 🍻</p>
    <p>There's no parking at the hall, so if you must drive park in the village and walk.</p>
  </div>

  <article>
    <h2>What</h2>

    <p class="note">It's both an afternoon party <i>and</i> an evening shindig! Drop by when you want and stay for as long as you want!</p>

    <h3>Afternoon Party from 2pm</h3>

    <p>Chill out with some drinks and snacks. Don't worry if you've got little ones - loads of guests do! There'll be party food and entertainment.</p>

    <h3>Evening Shindig 6pm onwards</h3>

    <p>Bring your own! There'll be evening food and some provided soft drinks. There's no license to <i>sell</i> alcohol but you can bring (and drink) whatever you want.</p>

    <h2>Where</h2>

    <p class="sub--callout text--lede"><a href="https://goo.gl/maps/6fjH6PLbtxnWzbgX9">Kington St Michael Village Hall</a>. Just off Junction 17 of the m4. <a href="#locale">See below for more location info</a></p>

    <h2>When</h2>

    <p class="sub--callout text--lede">Saturday 2nd October - save the date!</p>

    <h2>RSVP</h2>

    <p>You're welcome to bring whoever you want, it's an open house, but please only share this link via email or direct message, thanks. Let Ruth know whether it's a yes, no or maybe so she can order food.</p>

  </article>

  <article class="sub--largebk">
    <h2>Further info</h2>

    <p>I'll be updating this page periodically before the event, so keep checking back.</p>

    <h3>What to bring</h3>

    <p>Just yourselves, that's the most important thing. Feel free to bring any supplies you think you'll need for the day, there are no shops close by and there is no alcohol provided at the venue, so bring some 🍸</p>

    <h3>Food</h3>

    <p>There'll be snacks for the afternoon and food for the evening, soft drinks plus tea & coffee. I have vegetarian options throughout the day and gluten free for the evening, if you have any other dietary requirements I'd suggest bringing some snacks just in case.</p>

    <h3>Covid</h3>

    <p>Alcohol gel etc... will be provided at the venue. Ideally we can be outside in the glorious October sun. The venue has a capacity for ~100 and with numbers dropping in and out throughout the day total attendance should be ~20 at any time. This should give us plenty of space and the venue will be well ventilated.</p>
  </article>

  <hr />

  <article>
    <h2 id="locale">Location & Logistics</h2>

    <h3>Getting here</h3> 

    <p><span class="text--lede">Public Transport:</span> By far the easiest public transport is train. Chippenham station is the closest and on the London Paddington/Bristol line. There are cabs outside to get you up to the hall.</p>

    <p><span class="text--lede">By Car:</span> The hall is about 2 minutes from J17 of the m4. If you're coming from any other direction, get on the A350 and follow signs to the m4, make sure to turn left for Kington St Micheal <i>before</i> you get to the m4.</p>

    <p>Please note parking is extremely limited and will need to be saved for those who need accessibility access, so it's better to walk or use public transport. If this is impossible, please share rides and park somewhere in the village and not at the hall. The hall is a 5 min walk from anywhere in Kington St Micheal.</p>

    <h3>Places to stay</h3>

    <p>There's plenty of places to stay near Kington St Micheal, depending on your price range. Whilst the beginning of October is probably not peak season, it's also a good idea to book in advance.</p>

    <p>Cheap and cheerful: <a href="https://www.premierinn.com/gb/en/hotels/england/wiltshire/chippenham/chippenham.html">Premier Inn, Chippenham</a> or <a href="https://www.travelodge.co.uk/hotels/652/Chippenham-hotel">Travelodge Chippenham</a>. NB the Premier Inn is just about walking distance to the hall 🙌</p>

    <p>Posher: <a href="https://guyershouse.com/hotel/">Guyer's House</a></p>

    <h3>Taxis home</h3>

    <p>It's probably a good idea to book a cab in advance. I'll be talking to some taxi companies closer to the event to make sure people can get back to hotels.</p>

  </article>

  <article id="map">
    <h2>Here's a map:</h2>
    <h3>Kington St Micheal Village Hall, SN14 6HX</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6376.139662573747!2d-2.151862047922083!3d51.49430211662358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2e6c18812985c01!2sVillage%20Hall!5e0!3m2!1sen!2suk!4v1631564949449!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </article>

  <hr />
</div>

<script type="text/javascript">
  // Not actually needed, just include line in html if needed
CSS.paintWorklet.addModule('../assets/subatomics.js');
</script>

</body>
</html>