<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico" />

  <!--meta content-->

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2019">
  <title>{{ title }}</title>
  <meta name="description" content="{{ desc }}">

  <link rel="stylesheet" type="text/css" href="https://rumyra.github.io/rumyra.css/rumyra.css">

  <style></style>
</head>

<body><div class="wrapper page--birth">

  <header>
    <h2>You are invited to...</h2>
    <h1 class="sub--highlight1">Ruth's 40th Birthday Party!!</h1>    
  </header>

  <div class="sub--callout">
    <p class="text--lede">Let's catch up and see each other again!!</p>
  </div>

  <article>
    <h2>What</h2>

    <p class="note">It's both an afternoon garden party <i>and</i> an evening shindig! Drop by when you want and stay for as long as you want!</p>

    <h3>Garden Party from 2pm</h3>

    <p>Chill out with some pimms and snacks. Don't worry if you've got little ones - loads of guests do! They'll be party food and entertainment.</p>

    <h3>Evening Shindig 6pm onwards</h3>

    <p>Bring your own! There'll be evening food and some provided drinks, but bring with you what you need. There's no license to sell alcohol but you can bring whatever you want.</p>

    <h2>Where</h2>

    <p class="sub--callout text--lede"><a href="https://goo.gl/maps/6fjH6PLbtxnWzbgX9">Kington St Michael Village Hall</a>. Just off Junction 17 of the m4. I'll update with detailed directions nearer the time.</p>

    <h2>When</h2>

    <p class="sub--callout text--lede">Saturday 2nd October - save the date!</p>

    <h2>RSVP</h2>

    <p>You're welcome to bring whoever you want, it's an open house, but please only share this link via email or direct message, thanks.</p>

    <p class="text--lede">Let Ruth know whether it's a yes, no or maybe as soon as pos so she can book in food and drinks.</p>
    
  </article>

  <article class="sub--largebk">
    <h2>Further info</h2>

    <p>I'll be updating this page periodically before the event, so keep checking back.</p>

    <h3>Getting here</h3> 

    <p><span class="text--lede">Public Transport:</span> By far the easiest public transport is train. Chippenham station is the closest and on the London Paddington/Bristol line. There are cabs outside to get you up to the hall.</p>

    <p><span class="text--lede">By Car:</span> The hall is about 2 minutes from J17 of the m4. If you're coming from any other direction, get on the A350 and follow signs to the m4, make sure to turn left for Kington St Micheal <i>before</i> you get to the m4.</p>

    <p>Please note parking is extremely limited, so it's better to walk or use public transport. If this is impossible, please share rides.</p>

    <h3>What to bring</h3>

    <p>Just yourselves, that's the most important thing. Feel free to bring any supplies you think you'll need for the day, there are no shops close by.</p>

    <h3>Food</h3>

    <p>There'll be plenty of snacks for the afternoon and food for the evening. I'll look to provide vegetarian and gluten free options, if you have any other dietary requirements I'd suggest bringing some snacks just in case.</p>

    <h3>Places to stay</h3>

    <p>There's plenty of places to stay near Kington St Micheal, depending on your price range. Whilst the beginning of October is probably not peak season, it's also a good idea to book in advance.</p>

    <p>Cheap and cheerful: <a href="https://www.premierinn.com/gb/en/hotels/england/wiltshire/chippenham/chippenham.html">Premier Inn, Chippenham</a> or <a href="https://www.travelodge.co.uk/hotels/652/Chippenham-hotel">Travelodge Chippenham</a>. NB the Premier Inn is just about walking distance to the hall 🙌</p>

    <p>Posher: <a href="https://guyershouse.com/hotel/">Guyer's House</a></p>

    <h3>Taxis home</h3>

    <p>It's probably a good idea to book a cab in advance. I'll be talking to some taxi companies closer to the event to make sure people can get back to hotels.</p>

  </article>


</div>


<script type="text/javascript">
  // Not actually needed, just include line in html if needed
CSS.paintWorklet.addModule('../assets/subatomics.js');
</script>

</body>
</html>