<!DOCTYPE html>
<html class="no-js" lang="en">

{{> head }}

<body class="cv"><div class="wrapper">

  <!-- "She’s really good at what she does, whatever that is" Sam Machin, @sammachin, ex-collegue, now friend -->

  <nav class="main-nav page-section_nav">
    <a href="/" class="nav-active">RJ</a>
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    {{!-- <a href="/portfolio/">Portfolio</a> --}}
    <a href="#speaking">Speaking & Writing</a>
    <a href="#contact">Get In Touch</a>
    <a href="http://blog.rumyra.com" rel="external">Blog</a>
  </nav>

  <!-- "Ruth once taught me what CSS was good for. Now I hardly ever use <blink> tags." Terence Eden, @edent, ex-collegue, now friend -->

  <header class="page-section home-about" id="about" data-section="about">

    <section class="page-section_header">
      <h1><a href="/">Ruth John</a></h1>
    </section>

    <section class="page-section_copy">

{{#data}}

{{basics.name}}

{{/data}}



    </section>
  </header>


    {{> footer }}

  </div><!-- contact -->



</div>

<script type="text/javascript">

// get y position of divs
const homeSections = document.querySelectorAll('.page-section');
const mainNav = document.querySelector('.main-nav');
const links = document.querySelectorAll('.main-nav a');
var bPoints = [0];
// TODO generate this
const sectionInfo = {
  about: {
    textCol: 'hsla(60, 33%, 99%, 1)',
    boxSh: 'hsla(60, 33%, 99%, 0.4)',
    bkCol: 'hsla(359, 41%, 79%, 1)'
  },
  cv: {
    textCol: 'hsla(213, 35%, 25%, 1)',
    boxSh: 'hsla(213, 35%, 25%, 0.4)',
    bkCol: 'hsla(26, 27%, 85%, 1)'
  },
  talk: {
    textCol: 'hsla(302, 15%, 39%, 1)',
    boxSh: 'hsla(302, 15%, 39%, 0.4)',
    bkCol: 'hsla(47, 45%, 95%, 1)'
  },
  contact: {
    textCol: 'hsla(26, 27%, 85%, 1)',
    boxSh: 'hsla(26, 27%, 85%, 0.4)',
    bkCol: 'hsla(213, 35%, 25%, 1)'
  }
};
for (i=0; i<homeSections.length; i++) {
  var boxH = homeSections[i].getBoundingClientRect().height;
  var newPoint = bPoints[bPoints.length - 1]+boxH;
  bPoints.push(newPoint);
}
// if scroll is inbetween vh height and bottom of section
// change class
function updateBPoints() {
}
// Reference: http://www.html5rocks.com/en/tutorials/speed/animations/
var last_known_scroll_position = 0;
var ticking = false;
function doSomething(scroll_pos) {
  // do something with the scroll position
  for (i=0; i<homeSections.length; i++) {
    if ( (bPoints[i] < scroll_pos) && (scroll_pos < bPoints[i+1]) ) {
      mainNav.style.backgroundColor = sectionInfo[homeSections[i].dataset.section].bkCol;
      for (j=0; j<links.length; j++) {
        links[j].style.borderColor = sectionInfo[homeSections[i].dataset.section].textCol;
        links[j].style.color = sectionInfo[homeSections[i].dataset.section].textCol;
        links[j].style.boxShadow = 'inset 0px 0px 0px 2px '+sectionInfo[homeSections[i].dataset.section].bkCol+', inset 0px 0px 0px 5px '+sectionInfo[homeSections[i].dataset.section].boxSh;
      }
    }
  }

}
function styleLinks(sectionEls) {
}
window.addEventListener('scroll', function(e) {
  last_known_scroll_position = window.scrollY;
  if (!ticking) {
    window.requestAnimationFrame(function() {
      doSomething(last_known_scroll_position);
      ticking = false;
    });
  }
  ticking = true;
});

</script>

</body>
</html>