<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2019">
  <title>{{ title }}</title>
  <meta name="description" content="{{ desc }}">

  <link type="text/css" href="../assets/main.css" rel="stylesheet" media="screen" />

</head>

<body class="cv"><div class="wrapper">

  <header class="" id="about">

    <img src="/assets/images/solo.svg" />

    <h1 class="header--large">Ruth John</h1>


{{#data}}

{{basics.name}}

{{/data}}

  </header>


    {{> footer }}

</div>

<script type="text/javascript">

</script>

</body>
</html>