<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2017">
  <title>{{ title }}</title>
  <meta name="description" content="">

  <link type="text/css" href="assets/css/style.css" rel="stylesheet" media="screen" />

</head>
<body class="home"><div class="wrapper">

  <nav class="main-nav page-section_nav">
    <a href="/" class="nav-active">RJ</a>
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    {{!-- <a href="/portfolio/">Portfolio</a> --}}
    <a href="#speaking">Speaking & Writing</a>
    <a href="#contact">Get In Touch</a>
    <a href="http://rumyrashead.com" rel="external">Blog</a>
  </nav>

  <header class="page-section home-about" id="about" data-section="about">

    <section class="page-section_header">
      <h1><a href="/">Ruth John</a></h1>
    </section>

    <section class="page-section_copy">

      {{{contents}}}

    </section>
  </header>

  <div class="page-section home-cv" id="experience" data-section="cv">
    <header class="page-section_header">
      <h2>Experience</h2>
    </header>

    <section class="page-section_list">
      <h3>Work</h3>
      <dl>
        <dt>Sept '17 - Ongoing</dt>
        <dd>Front End Instructor for <a href="https://developme.training/">DevelopMe</a></dd>
        <dt>Jan '17 - April '17</dt>
        <dd>Flourish Zone: Interactive Data Visualisation for React Native app, using d3</dd>
        <dt>June '12 - July '16</dt>
        <dd>Lead Front End Developer & Web Technologist for The Lab @ O2</dd>
      </dl>
      <p>See a full list of Ruth's extensive experience on <a href="https://www.linkedin.com/in/ruthjohn/">LinkedIn</a></p>
    </section>

    <section class="page-section_list">
      <h3>Community</h3>
      <dl>
        <dt>Google Developer Expert</dt>
        <dd>Recognised <a href="https://developers.google.com/experts/people/ruth-john">Google Developer Expert</a> in web technologies, specialising in audio & MIDI on the web.</dd>
        <dt>{ Live : JS }</dt>
        <dd>Co founder of the <a href="http://livejs.network/">{ Live : JS }</a> network; a collective of artists who perform live audio/visual shows with JavaScript.</dd>
        <dt>Bath Digital Festival</dt>
        <dd>Member of the board of directors for <a href="https://bathdigitalfestival.co.uk/">Bath Digital Festival</a></dd>
      </dl>
    </section>

  </div><!--cv-->

  <div class="page-section home-talks" id="speaking" data-section="talk">
    <header class="page-section_header">
      <h2>Talks & Articles</h2>
    </header>

    <section class="page-section_list">
      <h3>Upcoming</h3>
      <dl>
        <dt>ColdFront</dt>
        <dd><a href="https://2017.coldfront.co/">{ Live : JS } Making Music with JavaScript</a></dd>

        <dt>Refresh</dt>
        <dd><a href="http://refresh.rocks/">How To Be A Web A/V Artist</a></dd>

        <dt>Front End Connect</dt>
        <dd><a href="http://frontend-con.io/">Closing Keynote</a></dd>

        <dt>JSConf Budapest</dt>
        <dd><a href="http://jsconfbp.com/">{ Live : JS } Live Show</a></dd>

        <dt>Ableton's Loop Conference</dt>
        <dd><a href="https://loop.ableton.com/2017/">State of Audio on the Web</a></dd>
        
      </dl>
      
    </section>

    <section class="page-section_list">
      <h3>Recent</h3>
      <dl>
        <dt>CSS Day</dt>
        <dd><a href="https://cssday.nl/2017">Web Audio API with a little MIDI</a></dd>

        <dt>JS Conf EU</dt>
        <dd><a href="https://www.youtube.com/watch?v=Lby6fk5gC4k">How To Be A Web A/V Artist</a></dd>

        <dt>Mozilla Game Dev Day</dt>
        <dd><a href="http://webgamesday.com/">Web Audio for Game Devs</a></dd>

        <dt>The Human In The Machine</dt>
        <dd><a href="https://superyesmore.com/todo-today-f82d6c3a9e73ea02e0b709c881ed9a74">Todo: Today</a></dd>

        <dt>12 Devs Of Xmas</dt>
        <dd><a href="http://12devsofxmas.co.uk/2017/01/day-12-beat-dis-re-addressing-audio-analysis/">Beat 'Dis: Re-addressing Audio Analysis</a></dd>

        <dt>24 ways</dt>
        <dd><a href="https://24ways.org/2015/bringing-your-code-to-the-streets/">Bringing Your Code To The Streets</a></dd>
      </dl>
      <p>To see a full list of Ruth's previous talks check out <a href="http://lanyrd.com/profile/rumyra/">her Lanyrd page</a></p>
    </section>


  </div>

  <div class="page-section home-contact" id="contact" data-section="contact">
    <header class="page-section_header">
      <h2>Get In Touch</h2>
    </header>

    <section class="page-section_copy">
      <p>I'm always keen to talk about interesting projects and delighted to hear about talking opportunities.</p>
      <p>You can get in touch by <a href="">dropping me an email</a>.</p>
    </section>

    <section class="page-section_copy">
      <h3>Availability</h3>
      <p>I have some time for work coming up in Q4 this year</p>
      <p>unfortunately I'm all booked up for conferences until November, but have time past that.</p> 

    </section>

    {{> footer }}

  </div><!-- contact -->

  

</div>

<script type="text/javascript">

// get y position of divs
const homeSections = document.querySelectorAll('.page-section');
const mainNav = document.querySelector('.main-nav');
const links = document.querySelectorAll('.main-nav a');
var bPoints = [0];
// TODO generate this
const sectionInfo = {
  about: {
    textCol: 'hsla(60, 33%, 99%, 1)',
    boxSh: 'hsla(60, 33%, 99%, 0.4)',
    bkCol: 'hsla(359, 41%, 79%, 1)'
  },
  cv: {
    textCol: 'hsla(213, 35%, 25%, 1)',
    boxSh: 'hsla(213, 35%, 25%, 0.4)',
    bkCol: 'hsla(26, 27%, 85%, 1)'
  },
  talk: {
    textCol: 'hsla(302, 15%, 39%, 1)',
    boxSh: 'hsla(302, 15%, 39%, 0.4)',
    bkCol: 'hsla(47, 45%, 95%, 1)'
  },
  contact: {
    textCol: 'hsla(26, 27%, 85%, 1)',
    boxSh: 'hsla(26, 27%, 85%, 0.4)',
    bkCol: 'hsla(213, 35%, 25%, 1)'
  }
};
for (i=0; i<homeSections.length; i++) {
  var boxH = homeSections[i].getBoundingClientRect().height;
  var newPoint = bPoints[bPoints.length - 1]+boxH;
  bPoints.push(newPoint);
}
// if scroll is inbetween vh height and bottom of section
// change class
function updateBPoints() {
}
// Reference: http://www.html5rocks.com/en/tutorials/speed/animations/
var last_known_scroll_position = 0;
var ticking = false;
function doSomething(scroll_pos) {
  // do something with the scroll position
  for (i=0; i<homeSections.length; i++) { 
    if ( (bPoints[i] < scroll_pos) && (scroll_pos < bPoints[i+1]) ) {
      mainNav.style.backgroundColor = sectionInfo[homeSections[i].dataset.section].bkCol;
      for (j=0; j<links.length; j++) {
        links[j].style.borderColor = sectionInfo[homeSections[i].dataset.section].textCol;
        links[j].style.color = sectionInfo[homeSections[i].dataset.section].textCol;
        links[j].style.boxShadow = 'inset 0px 0px 0px 2px '+sectionInfo[homeSections[i].dataset.section].bkCol+', inset 0px 0px 0px 5px '+sectionInfo[homeSections[i].dataset.section].boxSh;
      }
    }
  }
  
}
function styleLinks(sectionEls) {
}
window.addEventListener('scroll', function(e) {
  last_known_scroll_position = window.scrollY;
  if (!ticking) {
    window.requestAnimationFrame(function() {
      doSomething(last_known_scroll_position);
      ticking = false;
    });
  }
  ticking = true;
});

</script>

</body>
</html>