<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2017">
  <title>{{ title }}</title>
  <meta name="description" content="">

  <link type="text/css" href="assets/css/style.css" rel="stylesheet" media="screen" />
  <!-- <link type="text/css" href="/assets/stylesheets/styleguide_specifics.css" rel="stylesheet" media="screen" /> -->

  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
</head>
<body class="about"><div>
  <div class="page" data-page="about">
    <header>
      <section>
        <h1><a href="/">Ruth John</a></h1>
      </section>
      {{!-- <nav>
        <a href="/" class="nav-active">Home</a>
        <a href="/things/">My Things</a>
        <a href="/contact/">Contact</a>
      </nav> --}}
    </header>
    <main>

    <div class="about-intro">

      {{{contents}}}

    </div>

    <div class="about-cv">
      <section>
        <h2>Key Skills</h2>
        <ul>
          <li>Web Development</li>
          <li>Creative Coding</li>
          <li>Audio & MIDI Web APIs</li>
          <li>Data Visualisation</li>
          <li>Public Speaking</li>
          <li>Writing</li>
        </ul>
      </section>

      <section>
        <h2>Community</h2>
        <dl>
          <dt>Google Developer Expert</dt>
          <dd>Recognised <a href="https://developers.google.com/experts/people/ruth-john">Google Developer Expert</a> in web technologies, specialising in audio & MIDI on the web.</dd>
          <dt>{ Live : JS }</dt>
          <dd>Co founder of the <a href="http://livejs.network/">{ Live : JS }</a> network; a collective of artists who perform live audio/visual shows with JavaScript.</dd>
          <dt>Bath Digital Festival</dt>
          <dd>Member of the board of directors for <a href="https://bathdigitalfestival.co.uk/">Bath Digital Festival</a></dd>
        </dl>
      </section>

      <section>
        <h2>Previous Work</h2>
        <ul>
          <li>Coming Soon</li>
        </ul>
        <p>Why not ask Ruth to come in for a chat and she can show off some of her latest projects. In the meantime, checkout <a href="https://github.com/Rumyra">her Github page.</a></p>
      </section>

      <section>
        <h2>Work Experience</h2>
        <dl>
          <dt>Sept '17 - Ongoing</dt>
          <dd>Front End Instructor for <a href="https://developme.training/">DevelopMe</a></dd>
          <dt>Jan '17 - April '17</dt>
          <dd>Flourish Zone: Interactive Data Visualisation for React Native app, using d3</dd>
          <dt>June '12 - July '16</dt>
          <dd>Lead Front End Developer & Web Technologist for The Lab @ O2</dd>
        </dl>
        <p>See a full list of Ruth's extensive experience on <a href="https://www.linkedin.com/in/ruthjohn/">LinkedIn</a></p>
      </section>

      <section>
        <h2>Recent Talks</h2>
        <dl>
          <dt>CSS Day</dt>
          <dd><a href="https://cssday.nl/2017">Web Audio API with a little MIDI</a></dd>
          <dt>JS Conf EU</dt>
          <dd><a href="https://www.youtube.com/watch?v=Lby6fk5gC4k">How To Be A Web A/V Artist</a></dd>
          <dt>Mozilla Game Dev Day</dt>
          <dd><a href="http://webgamesday.com/">Web Audio for Game Devs</a></dd>
          {{!-- <dt>JS Conf Asia</dt>
          <dd><a href="https://www.youtube.com/watch?v=Ody93kpAjAY">Live JS Show</a></dd> --}}
        </dl>
        <p>To see a full list of Ruth's previous talks check out <a href="http://lanyrd.com/profile/rumyra/">her Lanyrd page</a></p>
      </section>

      <section>
        <h2>Recent Articles & Podcasts</h2>
        <dl>
          <dt>The Human In The Machine</dt>
          <dd><a href="https://superyesmore.com/todo-today-f82d6c3a9e73ea02e0b709c881ed9a74">Todo: Today</a></dd>
          <dt>12 Devs Of Xmas</dt>
          <dd><a href="http://12devsofxmas.co.uk/2017/01/day-12-beat-dis-re-addressing-audio-analysis/">Beat 'Dis: Re-addressing Audio Analysis</a></dd>
          <dt>24 ways</dt>
          <dd><a href="https://24ways.org/2015/bringing-your-code-to-the-streets/">Bringing Your Code To The Streets</a></dd>
        </dl>
      </section>

    </main>

    {{> footer }}

</body>
</html>