<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2017">
  <title>{{ title }}</title>
  <meta name="description" content="">

  <link type="text/css" href="public/whitepaper/styles/application.css" rel="stylesheet" media="screen" />
  <!-- <link type="text/css" href="/assets/stylesheets/styleguide_specifics.css" rel="stylesheet" media="screen" /> -->

  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
</head>
<body><div>
  <div class="page portfolio" data-page="portfolio">
    <header>
      <section>
        <h1><a href="/">Ruth John</a></h1>
      </section>
      <nav>
        <a href="/#home">Home</a>
        <a href="/#portfolio">My Things</a>
        <a href="/#contact">Contact</a>
      </nav>
    </header>
    <main>

    <article class="portfolio-list">
      <ul>
        {{#each collections.work-items as |work-item idx|}}
        {{> work-item work-item=work-item }}
        {{/each}}
      </ul>
    </article>

    {{ footer }}

</body>
</html>