<!DOCTYPE html>
<html class="no-js" lang="en">

{{> head }}

<body class="portfolio"><div>
  <div class="page" data-page="portfolio">
    <header>
      <section>
        <h1><a href="/">Ruth John</a></h1>
      </section>
      <nav>
        <a href="/">Home</a>
        <a href="/things/" class="nav-active">My Things</a>
        <a href="/contact/">Contact</a>
      </nav>
    </header>
    <main>

      <article class="portfolio-list">
        {{{ contents }}}
        <ul>
          {{#each collections.workItem as |work-item idx|}}
          {{> work-item work-item=work-item }}
          {{/each}}
        </ul>
      </article>

    </main>

    {{> footer }}

</body>
</html>